<div cdkDropList   class="example-list" (cdkDropListDropped)="drop($event)">
  <div class="example-box" *ngFor="let item of this.arrayNgFor; index as k" cdkDrag [ngClass]="{ green: k == item.posizione }">
    <h3 >{{item.desc}}</h3>
  </div>
</div>
<div class="successMessage" *ngIf="isCompleted">
  <p>Bravissimo, hai ordinato correttamente gli elementi!</p>
  <p>Hai completato il gioco in {{ steps }} mosse.</p>
  <button mat-fab color="primary" class="my-fab-button">
    <i class="material-icons" (click)="avanzamentoStep()">play_arrow</i>
  </button>
</div>

