@import url("https://fonts.googleapis.com/css2?family=Acme&family=Architects+Daughter&family=Caveat:wght@700&family=Courgette&family=Montserrat:wght@500&family=Patrick+Hand&family=Permanent+Marker&display=swap");

$font-color: #5c5f66;
$primary-color: #272fa3e7;
$background: rgba(212, 200, 200, 0.685);
$fontAcme: "Acme", sans-serif;
mat-card {
  font-family: "Acme", sans-serif !important;
  p {
    color: $primary-color;
    font-weight: 200;
  }
}
.mainSection {
  padding: 2vw;
  justify-content: center;
}
.mainContainer {
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.copertina {
  font-family: "Montserrat", sans-serif !important;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vh;
  padding: 1vh 0;
  width: 80%;
  max-height: max-content;
  justify-content: center;
  box-shadow: 1px 0px 2px 1px rgba(16, 18, 44, 0.336),
    0px 0px 11px 7px rgba(13, 10, 34, 0.315);
  background-color: #272fa3e7;
  border-radius: 5px;

  .storyTitle {
    width: 98%;
    font-family: "Acme", sans-serif !important;
    line-height: initial;
    font-size: 5.5vw;
    letter-spacing: 1.2vw;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    min-inline-size: max-content;
    outline-style: double;
    margin: 0 4px;
  }
  .imgCopertina {
    border: solid 5px;
    border-color: #570606;
    border-radius: 3px;
    width: 75%;
    margin: 2vw 0;
  }
  .button-container {
    width: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right:auto;

    button {
      font-family: $fontAcme !important;
      font-size: 4vw;
      height: 8vw;
      border-radius: 6px;
    }
  }
}
mat-card {
  background-color: $background;
  width: -webkit-fill-available;
}
.punteggio {
  float: right;
  width: 65%;
  p {
    float: right;
  }
}
.container-player {
  width: 35%;
  float: left;
  text-align-last: left;
  mat-icon {
    color: $primary-color;
  }
}
.header-matcard {
  width: 100%;
  margin-bottom: 3em;
}
.backImage {
  position: relative;
  height: auto;
  background-color: transparent !important;
}
.typing-text p {
  // animation: type 5s steps(242);
  // overflow: hidden;
  // white-space: nowrap;
  background-color: rgba(212, 200, 200, 0.685);
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 4vh;
  border-radius: 10px;
  letter-spacing: 0.08em;
  text-align: center;

  /* animation */
  //  animation-name: story;
  //  animation-duration: 2s;
}

// @keyframes story {
//   0% {
//     min-width: 0vw;
//     min-height: 0vh;
//   }

//   100% {
//     min-width: 80vw;
//     min-height: 5vh;
//   }
// }

// .typing-text p{
//   animation: type 5s steps(242), blink-caret .75s step-end infinite;
//   overflow: hidden;
//   border-right: 4px solid black;
//   white-space: nowrap;
//   width: 100%;
// }
// @keyframes type{
//   from { width: 50% }
//   to { width: 100% }
// }
// @keyframes blink-caret {
//   from, to { border-color: transparent }
//   50% { border-color: black; }
.container-btn-avanti {
  display: flex;
  justify-content: flex-end;
}
.btn-avanti {
  float: right;
  margin: 0.5em;
  box-shadow: 1px 0px 2px 1px rgba(16, 18, 44, 0.336),
    0px 0px 11px 7px rgba(13, 10, 34, 0.315);
}
.input-container {
  display: flex;
  justify-content: center;
}
.form-control {
  background-color: transparent !important;
  //margin: 0.1em !important;
  width: 95% !important;
}
.img-responsive {
  margin: 2vh 0;
  border-radius: 8px;
  box-shadow: 1px 3px 23px 1px rgba(16, 18, 44, 0.336),
    4px 3px 25px 21px rgba(13, 10, 34, 0.315);

  @media (max-width: 600px) {
    max-width: 90%;
  }
  @media (min-width: 600px) {
    max-width: 80%;
  }
}
.title {
  width: 100vw;
  text-align: center;
  font-family: "Acme", sans-serif;
  color: $font-color;
  font-size: 8vw;
  padding-top: 0.5em;
  margin-bottom: 0.5em;
  justify-content: center;
}
.mat-list {
  button {
    justify-content: center;
    p {
      font-family: $fontAcme;
      margin: 0 !important;
      color: white;
    }
  }
}


