<app-header [my-title]="'Visualizza'"> </app-header>

<!-- <button (click)="refresh()">aggiorna</button> -->
<section id="mainSection" *ngIf="this.storia">
  <mat-grid-list
    id="copertina"
    cols="3"
    rowHeight="15vw"
    [ngStyle]="{
      'background-image': 'url(/assets/book.png)',
      'background-size': 'contain',
      'background-repeat': 'no-repeat'
    }"
    *ngIf="this.currentStepId < 0"
  >
    <mat-grid-tile colspan="3" rowspan="2">
      <p class="storyTitle">{{ this.storia.nome }}</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <div class="img-responsive">
        <img class="imgCopertina" [src]="this.storia.urlBackground" />
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="1">
      <button
        *ngIf="this.currentStepId < 0"
        mat-raised-button
        color="primary"
        (click)="iniziaStep()"
      >
        <p>{{ startText ? startText : "Inizia" }}</p>
        <p>{{ timestampGlobale }}</p>
        <p>Timestamp start : {{ this.stepStartAt }}</p>
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <h1>
    {{ title }}
  </h1>
  <h2>
    {{ didascalia }}
  </h2>

  <section *ngIf="this.storia.steps">
    <div *ngIf="this.currentStepId != -1">
      <div
        *ngIf="this.storia.steps[currentStepId].action == 'quiz'"
        class="mainContainer"
      >
        <mat-card>
          <div class="punteggio">
            <p>Punteggio : {{ this.punteggio }}</p>
          </div>
          <mat-card-title>

            <b> {{ this.storia.steps[currentStepId].activityTitle }}</b>
          </mat-card-title>
          <div class="backImage">
            <img
              class="img-responsive"
              *ngIf="this.storia.steps[this.currentStepId].backImg != ''"
              [src]="this.storia.steps[this.currentStepId].backImg"
            />
          </div>
          <mat-card-content>
            <ng-container
              *ngIf="
                this.storia.steps[currentStepId].answers &&
                this.storia.steps[currentStepId].answers.length > 0
              "
            >
              <!-- <mat-selection-list #answers>
        <mat-list-option *ngFor="let answ of this.steps[currentStepId].answers">
          {{ answ.content }} {{ answ.correct }}
        </mat-list-option>
      </mat-selection-list> -->

              <mat-list
                role="list"
                *ngFor="
                  let answ of this.storia.steps[currentStepId].answers;
                  let i = index
                "
                (click)="gestisciAvanzamento(i)"
              >
                <button mat-raised-button color="accent" role="listitem">
                  {{ answ }}
                </button>
              </mat-list>
            </ng-container>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- end QUIZ -->

      <div
        *ngIf="this.storia.steps[currentStepId].action == 'puzzle'"
        class="mainContainer"
      >
        <mat-card>
          <div class="punteggio">
            <p>Punteggio : {{ this.punteggio }}</p>
          </div>
          <mat-card-title>
            <b> {{ this.storia.steps[currentStepId].activityTitle }}</b>
          </mat-card-title>
          <app-image-puzzle
            [difficulty]="this.storia.steps[this.currentStepId].difficulty"
            [puzzleUrl]="this.storia.steps[this.currentStepId].puzzleImg"
          >
          </app-image-puzzle>
        </mat-card>
      </div>
      <!-- end PUZZLE -->

      <div
        *ngIf="this.storia.steps[currentStepId].action == 'dnd'"
        class="mainContainer"
      >
        <mat-card>
          <div class="punteggio">
            <p>Punteggio : {{ this.punteggio }}</p>
          </div>
          <mat-card-title>
            <b> {{ this.storia.steps[currentStepId].activityTitle }}</b>
          </mat-card-title>
          <div class="backImage">
            <img
              class="img-responsive"
              *ngIf="this.storia.steps[this.currentStepId].backImg != ''"
              [src]="this.storia.steps[this.currentStepId].backImg"
            />
          </div>
          <app-dragndrop
            [order]="this.storia.steps[this.currentStepId].order"
          ></app-dragndrop>
        </mat-card>
      </div>

      <div
        *ngIf="this.storia.steps[currentStepId].action == 'domanda'"
        class="mainContainer"
      >
        <mat-card>
          <div class="punteggio">
            <p>Punteggio : {{ this.punteggio }}</p>
          </div>
          <mat-card-title>

            <b> {{ this.storia.steps[currentStepId].activityTitle }}</b>
          </mat-card-title>
          <div class="backImage">
            <img
              class="img-responsive"
              *ngIf="this.storia.steps[this.currentStepId].backImg != ''"
              [src]="this.storia.steps[this.currentStepId].backImg"
            />
          </div>
          <mat-card-content>
            <input
              [(ngModel)]="tempRisposta"
              class="form-control"
              type="text"
              placeholder="Inserisci qui la risposta "
            />
            <button (click)="gestisciAvanzamento()">Avanti</button>
          </mat-card-content>
        </mat-card>
      </div>

      <div
        *ngIf="this.storia.steps[currentStepId].action == 'informazione'"
        class="mainContainer"
      >
        <mat-card>
          <div class="punteggio">
            <p>Punteggio : {{ this.punteggio }}</p>
          </div>
          <div class="backImage">
            <img
              class="img-responsive"
              *ngIf="this.storia.steps[this.currentStepId].backImg != ''"
              [src]="this.storia.steps[this.currentStepId].backImg"
            />
          </div>
          <mat-card-content>
            <b> {{ this.storia.steps[currentStepId].activityTitle }}</b>
          </mat-card-content>

          <button
            mat-flat-button
            (click)="gestisciAvanzamento()"
            class="gestisciAvanzamento"
            color="basic"
          >
            Avanti
          </button>
        </mat-card>
      </div>

      <div
        *ngIf="this.storia.steps[currentStepId].action == 'fine'"
        ||
        tipologiaGruppo
        !="individuale"
        class="mainContainer"
      >
        <mat-card>
          <mat-card-title>Partita Finita
            <b> {{ this.storia.steps[currentStepId].activityTitle }}</b>

          </mat-card-title>
          <div class="backImage">
            <img
              class="img-responsive"
              *ngIf="this.storia.steps[this.currentStepId].backImg != ''"
              [src]="this.storia.steps[this.currentStepId].backImg"
            />
          </div>
          <mat-card-content>
            step corrente {{ this.currentStepId }}

            <b> {{ this.storia.steps[currentStepId].activityTitle }}</b>
          </mat-card-content>
          <button (click)="fine()">Visualizza classifica</button>
        </mat-card>

        <div *ngFor="let item of this.arrayPlayers; index as k">
          <mat-icon [ngClass]="{ green: k < variabileOk }">person</mat-icon>
        </div>
      </div>
    </div>
  </section>
</section>
