@import url("https://fonts.googleapis.com/css2?family=Acme&family=Architects+Daughter&family=Caveat:wght@700&family=Courgette&family=Montserrat:wght@500&family=Patrick+Hand&family=Permanent+Marker&display=swap");

$font-color: #5c5f66;
$primary-color: #3b3a99;
$background: rgba(212, 200, 200, 0.685);
$fontAcme: "Acme", sans-serif;
mat-card {
  font-family: "Acme", sans-serif !important;

  p {
    //font-size: 1.4em;
    color: $primary-color;
    font-weight: 200;
    // text-shadow: 2px 0 0 #212121, -2px 0 0 #212121, 0 2px 0 #212121,
    //   0 -2px 0 #212121, 1px 1px #212121, -1px -1px 0 #212121, 1px -1px 0 #212121,
    //   -1px 1px 0 #212121;
  }
}

.mainSection {
  padding: 2vw;
  justify-content: center;
}
.mainContainer {
  display: flex;
  justify-content: center;
  padding:1em;
}
.copertina {
  position: relative;
  margin-top: 1em;
  justify-content: center;
  align-content: flex-start;
}
.storyTitle {
  position: absolute;
  font-family: "Acme", sans-serif !important;
  line-height: initial;
  letter-spacing: 1.5vw;
  color: white;
  text-transform: uppercase;
  font-weight: bold;

  @media (min-width:600px) {
    left: 27%;
    top: 9vh;
    font-size: 2.5em;
    width: 50%;
    text-align: center;
  }
  @media (max-width:600px) {
    left: 15vw;
    top: 18vh;
    font-size: 1.6em;
    text-align: center;
  }
}
.copertina-responsive {
  position: absolute;
  justify-content: center;
  @media (min-width:600px) {
    font-size: x-large;
    width: 100%;
    bottom: 20vh;
  }
  @media (max-width:600px) {

    width: 100%;
    bottom: 25vh;
    font-size: medium;
  }
}
.imgCopertina {
  border: solid 5px;
  border-color: #570606;
  border-radius: 3px;
  width: 15em;
}
.button-container {
  position: absolute;
  justify-content: center;
  @media (min-width:600px) {
    left: 31%;
  width: 40%;
  bottom: 4vh;
  }
  @media (max-width:600px) {
    left: 38%;
    width: 30%;
    bottom: 10vh;
  }

  button {
    font-size: 4vw;
    padding: 0.1em 0.3em !important;
    height: 8vh;
    border-radius: 6px;
  }
}
mat-card {
  background-color: $background;
  width: -webkit-fill-available;
}
.punteggio {
  float: right;
  width: 100%;
  p {
    //font-size: 3vw !important;
    float: right;
  }
}
.backImage {
  position: relative;
  height: auto;
  background-color: transparent !important;
  margin: 20px;
}
.typing-text p {
  // animation: type 5s steps(242);
  // overflow: hidden;
  // white-space: nowrap;
  background-color: rgba(212, 200, 200, 0.685);
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 4vh;
  border-radius: 10px;
  letter-spacing: 0.08em;
  text-align: center;

  /* animation */
  //  animation-name: story;
  //  animation-duration: 2s;
}

// @keyframes story {
//   0% {
//     min-width: 0vw;
//     min-height: 0vh;
//   }

//   100% {
//     min-width: 80vw;
//     min-height: 5vh;
//   }
// }

// .typing-text p{
//   animation: type 5s steps(242), blink-caret .75s step-end infinite;
//   overflow: hidden;
//   border-right: 4px solid black;
//   white-space: nowrap;
//   width: 100%;
// }
// @keyframes type{
//   from { width: 50% }
//   to { width: 100% }
// }
// @keyframes blink-caret {
//   from, to { border-color: transparent }
//   50% { border-color: black; }
.container-btn-avanti {
  display: flex;
  justify-content: flex-end;
}
.btn-avanti {
  float: right;
  margin: 0.5em;
  box-shadow: 1px 0px 2px 1px rgba(16, 18, 44, 0.336),
    0px 0px 11px 7px rgba(13, 10, 34, 0.315);
}
.input-container {
  display: flex;
  justify-content: center;
}
.form-control {
  background-color: transparent !important;
  //margin: 0.1em !important;
  width: 95% !important;
}
.img-responsive {
  width: auto;
  max-height: 50vh;
  margin: 0.8em;
  border-radius: 8px;
  box-shadow: 1px 3px 23px 1px rgba(16, 18, 44, 0.336),
    4px 3px 25px 21px rgba(13, 10, 34, 0.315);

  @media (max-width: 600px) {
    width: 75%;
  }
}

.title {
  justify-content: center;
  width: 100%;
}
.mat-list {
  button {
    justify-content: center;
    p {
      font-family: $fontAcme;
      margin: 0 !important;
      color: white;
    }
  }
}

.green {
  color: rgba(5, 163, 5, 0.507);
}
