$font-color: #5c5f66;
$primary-color: #3b3a99;
$background: rgba(212, 200, 200, 0.685);


.mainSection {
  padding: 2vw;
  justify-content: center;
}
.mainContainer {
  width: 100%;
  height: auto;
}

#copertina {
  background-image: url(/assets/book.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2vw;
  padding-left: 22%;
  padding-right: 22%;
  margin: 1em;
  justify-content: center;
  align-content: center;
}

.storyTitle {
  font-size: 3em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0.6em;
  margin-bottom: 0;
  margin-left: 17%;
  margin-right: 15%;
}
.copertina-responsive {
  justify-content: center;
  margin: 0.2em;
}
.imgCopertina {
  border: solid 5px;
  border-color: rgb(87, 6, 6);
  border-radius: 3px;
  width: 5em;
}
.button-container {
  justify-content: center;
}
mat-card {
  background-color: $background;
}
.backImage {
  position: relative;
  height: auto;
  background-color: transparent !important;
  opacity: 90%;
  margin: 20px;
}
.animation-text{
  display: flex;
}
.typing-text{
  animation: type 10s steps(242);
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  flex-wrap: wrap;
  border-right: 4px solid black;
  width: 100%;
}
@keyframes type{
  0%{
    width: 0ch;
  }
  100%{
    width: 242ch;
  }
}
.container-btn-avanti {
  display: flex;
  justify-content: flex-end;
}
.btn-avanti {
  float: right;
  margin: 0.5em;
}
.input-container{
  display: flex;
  justify-content: center;
}
.form-control {
  background-color: transparent !important;
 //margin: 0.1em !important;
  width: 95% !important;
}
.img-responsive {
  width: 50%;
  height: auto;
  margin: 0.8em;
  border-radius: 8px;
  box-shadow: 1px 3px 23px 1px rgba(16, 18, 44, 0.336),
    4px 3px 25px 21px rgba(13, 10, 34, 0.315);

  @media (max-width: 600px) {
    width: 75%;
  }
}

.punteggio {
  float: right;
  width: 100%;
  p {
    float: right;
  }
}
.title {
  justify-content: center;
  width: 100%;
}
