<app-header [my-title]="titolo"> </app-header>
<mat-accordion multi="true" *ngIf="storie.length > 0; else error">
  <mat-expansion-panel *ngFor="let storia of storie; index as i">
    <mat-expansion-panel-header>
      {{ storia.nome  }}
    </mat-expansion-panel-header>
    <img
      [src]="storia.urlBackground"
      [alt]="'  immagine sfondo di  ' + storia.nome"
    />
    <p>
    <button
      mat-raised-button
      color="primary"
      (click)="statoMod[i] = !statoMod[i]"
    >
      modifica
    </button>

    <button mat-raised-button color="info" (click)="configuraStoria(storia.id)">Configura</button>

    <button mat-raised-button color="warn" (click)="eliminaStoria(storia.id)">Elimina</button>

    <!-- <a
      [routerLink]="['/visualizza/:storia']"
      routerLinkActive="router-link-active"
    >
      Anteprima</a
    > -->

    <app-modifica
      *ngIf="statoMod[i]"
      [id]="storia.id"
      [nome]="storia.nome"
      [sfondo]="storia.urlBackground"
    >
    </app-modifica>

  </p>
  </mat-expansion-panel>
</mat-accordion>

<swal #mioAlert confirmButtonText="Salva" (confirm)="aggiungiStoria()" >

  <div *swalPortal >
    <form [formGroup]="form" >

      <h1>name :</h1> <input formControlName="myTempName" class="form-control" id="name" type="text" />
      <h1>didascalia :</h1> <input formControlName="myTempDidascalia" class="form-control" id="didascalia" type="text" />
      <h1>fascia di età :</h1>

      <mat-radio-group formControlName="myTempFasciaEta" aria-label="Select an option" >
        <mat-radio-button value="fasciaUno">
          <mat-card> 7 - 10 anni </mat-card>
        </mat-radio-button>
        <mat-radio-button value="fasciaDue">
          <mat-card> 11 - 14 anni </mat-card>
        </mat-radio-button>
        <mat-radio-button value="fasciaTre">
          <mat-card> 15 - 18 anni </mat-card>
        </mat-radio-button>
      </mat-radio-group>


      <div>
        <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
        <input type="file" #filePicker (change)="onImagePicked($event)">
      </div>
      <div class="image-preview" *ngIf="imagePreview!=='' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>
    </form>
  </div>
</swal>



<button [swal]="mioAlert" mat-raised-button color="accent">aggiunta</button>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<ng-template #error>
  <div>
    <mat-icon aria-hidden="false" aria-label="Example home icon"
      >error</mat-icon
    >
    <h2>Errore</h2>
  </div>

  <template> </template
></ng-template>
