mat-spinner {
  margin: auto;
}
mat-grid-tile{
  align-content: flex-end;
}
mat-panel-title{
  font-size: 1.8vw;
}

input[type="file"]{
  visibility: hidden;
}

.img-story{
  width: 25vw;
}

.container1{
  width: 100%;
  margin: 5px;
}

mat-raised-button{
  padding: 5px;
  margin: 10px;
}

#storyTitle{
  font-size: 1.4vw;
  text-transform: capitalize;
}

