@import url("https://fonts.googleapis.com/css2?family=Acme&family=Architects+Daughter&family=Caveat:wght@700&family=Courgette&family=Montserrat:wght@500&family=Patrick+Hand&family=Permanent+Marker&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}
mat-spinner {
  margin: auto;
}
mat-grid-tile {
  align-content: flex-end;
}
mat-panel-title {
  font-size: 1.8vw;
}
.container-panel {
  position: relative;
  width: 100%;
  height: 35vw;

  button {
    width: 20vw;
    margin-bottom: 2vw;
  }
}
.container-modifica {
  position: absolute;
  min-height: fit-content;
  width: 30%;
  top: 3vw;
  left: 2vw;
}
.container-configura {
  position: absolute;
  min-height: fit-content;
  width: 25%;
  top: 10vw;
  left: 2vw;
}
.container-download {
  position: absolute;
  min-height: fit-content;
  width: 25%;
  top: 20vw;
  left: 2vw;
}
.image-container {
  position: absolute;
  min-height: fit-content;
  width: 60%;
  top: 3vw;
  right: 2vw;
}
.img-story {
  width: 40vw;
  border: 3px solid;
}
input[type="file"] {
  visibility: hidden;
}
.container1 {
  width: 100%;
  margin: 5px;
}

mat-raised-button {
  padding: 5px;
  margin: 10px;
}

#storyTitle {
  font-size: 1.5vw;
  text-transform: capitalize;
  font-weight: bold;
}
