<mat-toolbar color="primary">
  <button mat-icon-button (click)="navigateToHome()" class="example-icon" aria-label="Example icon-button with home icon" style="margin-right: 10px;">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </button>
  <span>{{  myTitle  }}</span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup Autore</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login Autore</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="navigateToAutore()">Menu' Autore</button>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="navigateToHome()">Menu' Player</button>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>

  </ul>
</mat-toolbar>
