<!-- <mat-toolbar color="primary"></mat-toolbar> -->

<mat-toolbar color="primary" style="flex:auto;">
  <button mat-icon-button (click)="navigateToHome()" class="example-icon" aria-label="Example icon-button with home icon" style="margin-right: 10px;">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </button>
  <span>{{  myTitle  }}</span>
  <span class="example-spacer">
    <button mat-button (click)="navigateToAutore()" >Autore</button>
    <button mat-button (click)="navigateToPlayer()">Player</button>
  </span>
</mat-toolbar>
