@import url('https://fonts.googleapis.com/css2?family=Acme&family=Architects+Daughter&family=Caveat:wght@700&family=Courgette&family=Montserrat:wght@500&family=Patrick+Hand&family=Permanent+Marker&display=swap');

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  opacity: 100%;
  width: 100%;
  font-family: "Acme", sans-serif;
}
.mat-menu-container{
  display: flex;
  float: left;
}
@media (max-width: 1024px) {
  .menu{
    display: none;
  }
}
.container1 {
  width: 100%;
  justify-content: space-between;
}
.title {
  font-family: "Acme", sans-serif;
  font-size: 1.5em;
}

a {
  font-size: 2.5em;
  text-decoration: none;
  color: white;
  font-family: "Acme", sans-serif;
}

span {
  font-family: "Acme", sans-serif;
}

.example-icon {
  padding: 2px;
  float: left;
}
