<div class="imagePuzzle">
  <div class="unsolvedPuzzle">
    <h1 class="sectionName">{{ imageName }}</h1>
    <ul class="puzzle" cdkDropList (cdkDropListDropped)="drop($event)">
      <li
        *ngFor="let img of Image;  index as k"
        class="box"
        [id]="img.index"
        cdkDrag
        [style.width.px]="boxSize"
        [style.height.px]="boxSize"
        [ngStyle]="{
          'background-image': 'url(' + imageUrl + ') ',
          'background-repeat': 'no-repeat',
          'background-position': '' + img.x_pos + ' ' + img.y_pos + '',
          'background-size': '' + difficulty * 100 + '% ' + difficulty * 100 + '%'
        }"

      >{{img.index}} || {{k}} </li>
    </ul>
    <div class="successMessage" *ngIf="isCompleted">
      <p>Game Complete.</p>
      <br />
      <p>You completed the game in time = {{ ticks }} & {{ steps }} steps.</p>
      <button mat-fab color="primary" class="my-fab-button">
        <i class="material-icons" (click)="avanzamentoStep()">play_arrow</i>
      </button>
    </div>
    <div *ngIf="!isCompleted" class="score-detail">
      <p>Time Spent: {{ ticks }}</p>
      <p>Steps : {{ steps }}</p>
    </div>
  </div>
</div>





<!--
<ul class="example-list"><li *ngFor="let img of Image">{{ img.index }}</li></ul>

<div class="example-container" cdkDropListGroup>
  <div cdkDropList [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop()" #placeholder></div>
  <div cdkDropList *ngFor="let item of items"
       [cdkDropListEnterPredicate]="enter" (cdkDropListDropped)="drop()">
    <div cdkDrag class="example-box">{{item}}</div>
  </div>
</div> -->
