<div class="imagePuzzle">
  <div class="unsolvedPuzzle">
    <h1 class="sectionName">{{ imageName }}</h1>
    <ul class="puzzle" dropzone="true" cdkDropList  (cdkDropListDropped)="onDrop($event)" >
      <li
        *ngFor="let img of Image"
        class="box"

        [id]="img.index"
        cdkDrag


        [style.width.px]="boxSize"
        [style.height.px]="boxSize"
        [ngStyle]="{
          'background-image': 'url(' + imageUrl + ') ',
          'background-repeat': 'no-repeat',
          'background-position': '' + img.x_pos + ' ' + img.y_pos + '',
          'background-size': boxSize*3+ 'px ' + boxSize*3+ 'px'
        }"

      ></li>
    </ul>
    <div class="successMessage" *ngIf="gameComplete">
      <p>Game Complete.</p>
      <br />
      <p>You completed the game in time = {{ ticks }} & {{ steps }} steps.</p>
      <button mat-fab color="primary" class="my-fab-button">
        <i class="material-icons" (click)="avanzamentoStep()">play_arrow</i>
      </button>
    </div>
    <div *ngIf="!gameComplete" class="score-detail">
      <p>Time Spent: {{ ticks }}</p>
      <p>Steps : {{ steps }}</p>
    </div>
  </div>
</div>
