<app-header [my-title]="'Configura'"> </app-header>
<mat-card *ngIf="storia">
    <mat-card-header>
      {{ storia.nome }}
    </mat-card-header>
    <mat-card-content>
      <img
        [src]="storia.urlBackground"
        [alt]="'  immagine sfondo di  ' + storia.nome"
      />
      <p *ngFor="let act of storia.steps">
        {{act.activityTitle}}
      </p>
      <p *ngIf="(!storia.steps) || (storia.steps.length == 0)">
        Nessuna attività presente
      </p>
      <button (click)="showConfiguraDomanda=true" > inserisci attivita di domande </button>
      <button (click)="showConfiguraClickToObject=true" > inserisci attivita di clicca su immagine </button>

    </mat-card-content>

</mat-card>


<mat-card>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Tipologia Attività</mat-label>
      <mat-select matNativeControl [(value)]="tipologiaAttivita" required >
        <mat-option value="informazione">Testo Informativo</mat-option>
        <mat-option value="domanda">Domanda</mat-option>
        <mat-option value="quiz">Quiz</mat-option>
      </mat-select>

      <mat-error *ngIf="form.get('tipologiaAttivita').invalid">Per favore inserisci tipologia</mat-error>
    </mat-form-field>

    <div *ngIf="tipologiaAttivita=='quiz'">
      <mat-form-field>
        <mat-label>Numero Rispostone</mat-label>
        <mat-select matNativeControl [(value)]="numeroRisposte">
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
        </mat-select>

        <mat-error *ngIf="form.get('numeroRisposte').invalid">Perfavore inserisci un nu numero</mat-error>
      </mat-form-field>
    </div>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview!=='' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit">Save Post
    </button>

  </form>
</mat-card>



<!-- <div *ngIf="showConfiguraDomanda">

  <input [(ngModel)]="tempDomanda" class="form-control" type="text" placeholder=" Inserisci la tua domanda " >

  <button (click)="aggiungiAttivita('domande')" > aggiungi attivita di domande </button>

</div>

<div *ngIf="showConfiguraClickToObject">

  <input [(ngModel)]="tempClickToObject" class="form-control" type="text" placeholder=" scegli opzione " >

  <button (click)="aggiungiAttivita('clickToObject')" > aggiungi attivita di clicca su immagine </button>

</div>


<p *ngIf="storia">

  {{ storia.steps | json}}
</p> -->
