<app-header [my-title]="'Configura'"> </app-header>

<!-- **************** -->
<!-- RIEPILOGO STORIA -->
<!-- **************** -->
<mat-card *ngIf="storia">
  <mat-card-header>
    <h1>{{ storia.nome }}</h1>
    <button *ngIf="flagSalvataggio==true" class="f-r" mat-raised-button color="primary" (click)="onSaveStory()">
      Salva storia
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="1" rowHeight="4vw">
      <mat-grid-tile
      colspan="1"
      rowspan="10">
        <img [src]="storia.urlBackground" [alt]="'  immagine sfondo di  ' + storia.nome" />
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list *ngFor="let act of storia.steps; index as j" cols="12" rowHeight="3.5vw">
      <!-- row 1 -->
      <mat-grid-tile
      colspan="7"
      rowspan="1">
          <mat-grid-tile-header>
           <p> # {{ j }}  Attivita n.  {{ act.activityId }}</p>
          </mat-grid-tile-header>
      </mat-grid-tile>
      <mat-grid-tile
      colspan="5"
      rowspan="1">
          <mat-grid-tile-header>
            <mat-icon>arrow-right</mat-icon> <p> Tipologia : ({{act.action}})</p>
          </mat-grid-tile-header>
      </mat-grid-tile>
      <!-- end row 1 -->
      <!-- row 2 -->
      <mat-grid-tile
      colspan="1"
      rowspan="1">
            <h4> Contenuto: </h4>
      </mat-grid-tile>
      <mat-grid-tile
      colspan="11"
      rowspan="1">
          <p>{{ act.activityTitle }}</p>
      </mat-grid-tile>
      <!-- end row 2 -->
      <!-- eventual row 3 -->
      <mat-grid-tile
      colspan="12"
      rowspan="1"
      *ngIf="act.action == 'domanda'">
            <h4> Risposta: </h4> <p>{{ act.risposta }}</p>
      </mat-grid-tile>
      <!-- end eventual row 3 -->
      <!-- row 4 -->
      <mat-grid-tile
      colspan="1"
      rowspan="1"
      *ngIf="act.action == 'quiz'">
            <h4>Id Risposta: </h4><p>{{ act.quizCorrectIdx }}</p>
      </mat-grid-tile>
      <mat-grid-tile
      colspan="1"
      rowspan="1">
            <h4>Id errato: </h4> <p>{{ act.wrongId }}</p>
      </mat-grid-tile>
      <mat-grid-tile
      colspan="1"
      rowspan="1">
            <h4>Id corretto: </h4> <p>{{ act.correctId }}</p>
      </mat-grid-tile>
      <mat-grid-tile colspan="9" rowspan="1"></mat-grid-tile>
      <!-- end row 4 -->
      <!-- eventual row 5 -->
      <mat-grid-tile
      colspan="3"
      rowspan="1">
          <td><p>{{ act.quizCorrectIdx ? act.quizCorrectIdx : "" }}</p></td>
      </mat-grid-tile>
    <!-- row 6 -->
    <mat-grid-tile colspan="10" rowspan="1"></mat-grid-tile>
      <mat-grid-tile
      colspan="1"
      rowspan="1">
        <button (click)="editAttivita(act)" mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile
      colspan="1"
      rowspan="1">
        <button (click)="eliminaAttivita(j)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-grid-tile>
<!-- end row 6 -->
      <p *ngIf="!storia.steps || storia.steps.length == 0">
        Nessuna attività presente
      </p>
      </mat-grid-list>
  </mat-card-content>
</mat-card>

<!-- ****************** -->
<!-- CREAZIONE ATTIVITA -->
<!-- ****************** -->
<mat-card *ngIf="storia">
  <form [formGroup]="form" class="example-form">
    <!-- TIPOLOGIA -->
    <mat-form-field class="example-full-width">
      <mat-label>Tipologia Attività</mat-label>
      <mat-select matNativeControl [(value)]="tempTipologiaAttivita" required>
        <mat-option value="informazione">Testo a caso Informativo</mat-option>
        <mat-option value="domanda">Domanda</mat-option>
        <mat-option value="quiz">Quiz</mat-option>
        <mat-option value="puzzle">Puzzle</mat-option>
        <mat-option value="dnd">Drag&Drop</mat-option>
        <mat-option value="fine">fine</mat-option>

      </mat-select>
      <mat-error *ngIf="form.get('tempTipologiaAttivita').invalid">Per favore inserisci tipologia</mat-error>
    </mat-form-field>

    <!-- TIPOLOGIA : QUIZ | Numero Risposte -->
    <mat-form-field *ngIf="tempTipologiaAttivita == 'quiz'" class="example-full-width">
      <mat-label>Numero Risposte</mat-label>
      <mat-select matNativeControl (selectionChange)="aggiornaArrayRisposte()" [(value)]="numeroRisposte">
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
      </mat-select>

      <mat-error *ngIf="form.get('numeroRisposte').invalid">Perfavore so pazzo inserisci un nu numero</mat-error>
    </mat-form-field>

    <!-- CONTENUTO PER QUALSIASI TIPOLOGIA -->
    <mat-form-field *ngIf="tempTipologiaAttivita != ''" class="example-full-width">
      <mat-label>
        {{ getTitleTranslation(tempTipologiaAttivita) | titlecase }}</mat-label>
      <textarea  matInput type="text" formControlName="tempContenuto" [(ngModel)]="tempContenuto" [placeholder]="
          'Inserisci ' + getTitleTranslation(tempTipologiaAttivita)
        " ></textarea>
    </mat-form-field>

    <!-- TIPOLOGIA : DOMANDA | Risposta Corretta-->
    <mat-form-field *ngIf="tempTipologiaAttivita == 'domanda'" class="example-full-width">
      <mat-label>Risposta</mat-label>
      <input matInput formControlName="tempRisposta" [(ngModel)]="tempRisposta"
        placeholder="Inserisci qui la risposta corretta" />
    </mat-form-field>

    <!-- TIPOLOGIA Drag&Drop -->
    <div *ngIf="tempTipologiaAttivita == 'dnd'" class="example-full-width">
      <mat-label>Inserisci gli elementi da ordinare</mat-label>
      <button (click)="aggiornaOrder()">Aggiungi elemento</button>

      <div *ngFor="let item of tempOrder;let i = index;trackBy: trackByFn">
        <input [(ngModel)]="tempOrder[i].desc" [ngModelOptions]="{ standalone: true }" />
        <input [(ngModel)]="tempOrder[i].posizione" [ngModelOptions]="{ standalone: true }"/>
      </div>
    </div>

    <!-- TIPOLOGIA : QUIZ | Array Risposte -->
    <div *ngIf="tempTipologiaAttivita == 'quiz'">
      <mat-radio-group [(ngModel)]="tempQuizCorrectIdx" [ngModelOptions]="{ standalone: true }"
        ngmodelaria-label="Select an option">
        <div>
          <mat-label>Inserisci la risposta</mat-label>
          <div *ngFor="
              let item of arrayRisposte;
              let i = index;
              trackBy: trackByFn
            ">
            <mat-radio-button [value]="i"> </mat-radio-button>
            <input [(ngModel)]="arrayRisposte[i]" [ngModelOptions]="{ standalone: true }" />
          </div>
        </div>
      </mat-radio-group>
    </div>


    <!-- TIPOLOGIA : PUZZLE -->
    <section *ngIf="tempTipologiaAttivita == 'puzzle'">
      <h3>Immagine</h3>

      <!-- Risorsa Web o Locale -->
      <div class="difficulty-levels">
        <div class="input-group">
          <input type="radio" [(ngModel)]="tempTipoUpload" name="upload" value="web" checked
            [ngModelOptions]="{ standalone: true }" />Risorsa Web
        </div>
        <div class="input-group">
          <input type="radio" [(ngModel)]="tempTipoUpload" name="upload" value="locale"
            [ngModelOptions]="{ standalone: true }" />File Locale
        </div>
      </div>

      <div class="image-url" *ngIf="tempTipoUpload == 'web'">
        <div class="input-group">
          <span class="input-group-btn">
            <div class="btn btn-default">Image Url!</div>
          </span>
          <input type="url" class="form-control" placeholder="Image Url..." [(ngModel)]="tempImgPuzzle"
            [ngModelOptions]="{ standalone: true }" />
        </div>
      </div>
      <div *ngIf="tempTipoUpload == 'locale'">
        <div>
          <button mat-stroked-button type="button" (click)="puzzlePicker.click()">
            Pick Image
          </button>
          <input type="file" #puzzlePicker (change)="onImagePicked($event, 'puzzle')" />
        </div>
        <div class="puzzle-preview" *ngIf="tempImgPuzzle !== '' && tempImgPuzzle">
          <img [src]="tempImgPuzzle" alt="puzzleImg" />
        </div>
      </div>

      <!-- Difficolta -->
      <h3>Difficulty Level</h3>
      <div class="difficulty-levels">
        <div class="input-group">
          <input type="radio" [(ngModel)]="tempDifficulty" name="difficulty" value="2" checked
            [ngModelOptions]="{ standalone: true }" />Low
        </div>
        <div class="input-group">
          <input type="radio" [(ngModel)]="tempDifficulty" name="difficulty" value="3"
            [ngModelOptions]="{ standalone: true }" />Medium
        </div>
        <div class="input-group">
          <input type="radio" [(ngModel)]="tempDifficulty" name="difficulty" value="4"
            [ngModelOptions]="{ standalone: true }" />High
        </div>
      </div>
    </section>

    <!-- Scelta attività successiva in caso di risposta corretta/errata -->
    <section *ngIf="tempTipologiaAttivita != 'fine'">
      <mat-form-field class="example-full-width">
      <mat-label>Corretto</mat-label>
      <mat-select [(ngModel)]="tempCorrect" formControlName="tempCorrect" [(value)]="tempCorrect" panelClass="correct">
        <mat-option *ngFor="let act of storia.steps" [value]="act.activityId">
          {{ act.activityId }} : {{ act.activityTitle }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('tempCorrect').invalid">Per favore inserisci idcoretto</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Sbagliato</mat-label>
      <mat-select [(ngModel)]="tempWrong" formControlName="tempWrong" [(value)]="tempWrong" panelClass="wrong">
        <mat-option *ngFor="let act of storia.steps" [value]="act.activityId">
          {{ act.activityId }} : {{ act.activityTitle }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('tempWrong').invalid">Per favore inserisci iderrato</mat-error>
    </mat-form-field>
</section>

    <!-- Associazione immagine ad attività -->
    <mat-form-field class="example-full-width">
      <mat-label>Nome immagine</mat-label>
      <input matInput placeholder="Inserisci qui il nome dell'immagine" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Alt immagine</mat-label>
      <input matInput placeholder="Inserisci qui il testo alternativo per il'immagine" />
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Pick Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <div>
      <input type="url" class="form-control" placeholder="Image Url..." [(ngModel)]="imagePreview"
        [ngModelOptions]="{ standalone: true }" />
    </div>
    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>

    <button *ngIf="this.tempActivityId == -1" mat-raised-button color="primary"
      (click)="aggiungiAttivita(tempTipologiaAttivita)">
      Aggiungi Attività
    </button>

    <div *ngIf="this.tempActivityId != -1">
      <button mat-raised-button color="primary" (click)="onSaveActivity()">
        Salva modifiche
      </button>
      <button mat-raised-button color="danger" (click)="tempActivityId = -1; this.form.reset()">
        ESCI
      </button>
    </div>
  </form>
</mat-card>
