mat-card {
  margin-top: 1rem;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
mat-card-header {
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}
mat-grid-tile-header {
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}
h1 {
  text-transform: capitalize;
}
h4 {
  font-style: bold;
}

.correct.mat-select-panel {
  background: rgba(0, 255, 0, 0.5);
}

.wrong.mat-select-panel {
  background: rgba(255, 0, 0, 0.5);
}

.f-r {
  float: right;
}
form {
  margin: auto;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 80%;
}

.example-full-width {
  width: 100%;
  margin: 0.5rem;
}

input[type="file"] {
  visibility: hidden;
}

mat-radio-button {
  margin-left: 1rem;
}

/* input.quiz{
  margin: 1rem;
  min-width: 200px;
} */

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.difficulty-levels {
  display: flex;
  justify-content: space-around;
}

input[type="radio"] {
  padding: 1rem;
  margin: 1rem;
}

.input-group {
  align-items: baseline;
}
