$font-color: #5c5f66;
$primary-color: #3b3a99;

.fixedLowRight{
    right: 1rem;
    bottom: 1rem;
    position: fixed;
}

.card-qr{
  align-content: center;
  padding: 3px;
}

.mainSection{
  background-image: url(/assets/logo5.png);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: 0.5rem;
}

#sec {
  padding: 5px;
  text-align: center;
  word-wrap:break-word;
}

.tipoStoria{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  flex-direction: row;
  align-items: flex-end;
  flex-wrap: nowrap;

  .card {
    background-color: #ffffff93;
    padding: 2vw;
    margin: 2vw;
    display: flex;
    float: left;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    width: max-content;
    min-height: 15rem;
    cursor: pointer;

    input[type='radio']{
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
    }

    h2 {
      font-weight: 200;
      color: $primary-color;
    }

        .mat-icon{
          margin: 2rem;
        }
        &:hover {
          box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
        &:hover label {
          color: $primary-color;
        }
        &:hover p {
          color: #555;
        }
        &:hover h3  {
          color: $primary-color;
        }
        &:hover h5  {
          color: $primary-color;
        }
        &:hover mat-icon {
          color: $primary-color;
        }
        &:hover h3:after{
          width: 2rem;
        }

        input[type='radio'] + label {
          display: block;
          cursor: pointer;
          transition: color .3s;
          color: $font-color;
          &:before, &:after {
            position: static;
          }
        }
        input[type='radio']:checked + label{
          color: $primary-color;
        }

        h3 {
          display: inline-block;
          font-weight: 100;
          transition: color .3s;
          &:after {
            content: '';
            position: relative;
            color: $primary-color;
            left: 50%;
            top: 40px;
            transform: translateX(-50%);
            display: block;
            width: 40px;
            height: 1.4px;
            background: darken($font-color, 20%);
            transition: width .3s;
          }
        }
        p {
          color: $font-color;
          text-align: left;
          text-indent: 1em;
          line-height: 26px;
          transition: color .3s;
        }
      }

    }

  .container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 30px;

    button{
      background-color: $primary-color;
      h3{
        color: $primary-color;
      }
    }

    mat-form-field{
      width: max-content;
      border-radius: 4px;
    }
    mat-label{
      padding: 5px;
      color: $font-color;
    }
    mat-option{
      color: $primary-color;
    }

  }

/* fine sec */
#sec2{
    .container3{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-wrap: wrap;

    .button-container{
      display:flex;
      float: right;
      margin: 5px;
      justify-content: center;
      align-content: center;
      align-items: stretch;
    }
    .deleteSq{
      align-content: center;
      margin: 0.3em;

    }

    p {
      color: $font-color;
      text-indent: 1em;
      transition: color .3s;
    }
    .nomeS-container{
      display: flex;
      float: left;
    }
    #nomeSquadra{
      text-transform: capitalize;
      color: white;
    }

    .card {
      display: inline-block;
      width: 23%;
      margin: 0.5em;
      min-width: max-content;
      min-height: max-content;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    }

    .card .heading {
      justify-content: space-between;
      height: 3rem;
      background-color: #2a34bbe5;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .card .content {
      padding: 1.3vw;
    }

    li{
      list-style: none;
    }

  }
} /* fine sec 2 */
  /* CONTAINER 4 ########################################*/
#sec3{
  .container4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-wrap: nowrap;

    input[type='radio']{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
  }
    .card {
      background-color: #ffffff93;
      padding: 2vw;
      margin: 2vw;
      display: flex;
      float: left;
      flex-flow: row wrap;
      justify-content: space-around;
      list-style: none;
      width: max-content;

      transition: box-shadow .3s;

        &:hover {
          box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

        &:hover label {
          color: $primary-color;
        }
        &:hover p {
          color: #555;
        }
        &:hover h3  {
          color: $primary-color;
        }
        &:hover h5  {
          color: $primary-color;
        }
        &:hover mat-icon {
          color: $primary-color;
        }
        &:hover h3:after{
          width: 25px;
        }
        input[type='radio'] + label {
          display: block;
          cursor: pointer;
          transition: color .3s;
          color: $font-color;
          &:before, &:after {
            position: static;
          }
        }
        input[type='radio']:checked + label{
          border-style: $primary-color;
          color: $primary-color;
          border: solid 3px;
          border-radius: 5px;
          padding: 2vw;
        }

        h5 {
          display: inline-block;
          transition: color .3s;
          &:after {
            content: '';
            position: relative;
            left: 50%;
            top: 40px;
            transform: translateX(-50%);
            display: block;
            width: 40px;
            height: 1.4px;
            background: darken($font-color, 20%);
            transition: width .3s;
          }
        }
        p {
          color: $font-color;
          text-align: left;
          text-indent: 1em;
          line-height: 26px;
          transition: color .3s;
        }
    }
  }
  .container5{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    input[type='radio']{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
  }
    .card {
      background-color: #ffffff93;
      padding: 10px;
      margin: 10px;
      display: inline-block;
      flex-flow: row wrap;
      justify-content: space-evenly;
      list-style: none;
      min-width: 12vw;
      min-height: 10vw;

        transition: box-shadow .3s;

        &:hover {
          box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }

        &:hover label {
          color: $primary-color;
        }
        &:hover p {
          color: #555;
        }
        &:hover h4  {
          color: $primary-color;
        }
        &:hover h5  {
          color: $primary-color;
        }
        &:hover mat-icon {
          color: $primary-color;
        }
        &:hover h4:after{
          width: 25px;

        }
        input[type='radio'] + label {
          display: block;
          cursor: pointer;
          transition: color .3s;
          color: $font-color;
          &:before, &:after {
            position: static;
          }
        }
        input[type='radio']:checked + label{
          border-style: $primary-color;
          color: $primary-color;
          border: solid 3px;
          border-radius: 5px;
          padding: 10px;
        }
        h4{
          text-transform: uppercase;
        }

        h5 {
          display: inline-block;
          transition: color .3s;
          &:after {
            content: '';
            position: relative;
            left: 50%;
            top: 40px;
            transform: translateX(-50%);
            display: block;
            width: 40px;
            height: 1.4px;
            background: darken($font-color, 20%);
            transition: width .3s;
          }
        }
        p {
          color: $font-color;
          text-align: left;
          text-indent: 1em;
          line-height: 26px;
          transition: color .3s;
        }

    }
  }
}
.container6{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.container6 .mat-card-title{
  color: grey;
}

.mat-card{
  background-color: whitesmoke;
  opacity: 88%;
  min-width: 20rem;
  min-height: 15rem;
}

.mat-card-title {
  margin: 1rem;
}

.mat-card-subtitle{
  color: darkslategray;
}

@media (min-width: 991px) {
  .mat-icon{
    transform: scale(5);
  }
  .my-fab-button {
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 50px;
  }
  .deleteSq{
    height: 25px;
    width: 25px;
  }
} /* for desktops */

@media (min-width: 768px) and (max-width: 991px) {
  .mat-icon{
    transform: scale(4);
  }
  .my-fab-button {
    width: 80px;
    height: 80px;
    float: right;
    margin-right: 50px;
  }
  .deleteSq{
    height: 20px;
    width: 20px;
  }

} /* for laptops */

 @media (max-width: 768px) {
  .mat-icon{
    transform: scale(2);
  }
  .my-fab-button {
    width: 60px;
    height: 60px;
    float: right;
    margin-right: 50px;
  }
  .deleteSq{
    height: 18px;
    width: 18px;
  }

} /* for smaller tablets */

@media (max-width: 500px) {
  .mat-icon{
    transform: scale(1);
  }
  .my-fab-button {
    width: 60px;
    height: 60px;
    float: right;
    margin-right: 50px;
  }
  .deleteSq{
    height: 15px;
    width: 15px;
    .mat-icon{
      size: 15px;
    }
  }

} /* for cellphones */
