.formOne , .formTwo, .formThree {
  margin-top: 3em;
  margin-left: 3em;
}

.mat-card{
  margin: auto;
  background-color: whitesmoke;
  opacity: 88%;

}

.formOne .mat-card {

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin:auto;
}

.formOne .mat-card .mat-icon {
  transform: scale(5);
  display: block;
  margin:auto;
}

.fixedLowRight{
  right: 10px;
    bottom: 10px;
    position: fixed;

}


.my-fab-button {
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 50px;
}

button .mat-icon {
  transform: scale(5);
  display: block;
  margin:auto;
}

.mat-card-title {
  margin-top: 1rem;
  font-size: 2em;
}

body{
  background-repeat: no-repeat;
  min-height: 65em;

}

mat-grid-tile {
  background:none;
}

mat-form-field{
  border-radius: 4px;
}

mat-button{
  color: lightgrey;

}

p{
  font-size: 1.4em;
  color: darkslategrey;
  align-content: center;
}

.card-qr{
  align-content: center;
  padding: 3px;
}

.img-qr{
  width:14em;
  height: auto;

}
