$font-color: #A2A2A2;
$primary-color: #357045;
#sec {
  font-family: 'Raleway', sans-serif;
  padding: 50px 0;
  text-align: center;
  word-wrap:break-word;
  input[type='radio']{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
  }

  h2 {
    font-weight: 200;
    font-size: 30px;
    color: $primary-color;
  }

  ul {
    margin: 3px;
    display: flex;
    float: left;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    li {
      float: left;
      padding: 40px;
      width: 300px;
      min-height: 290px;
      transition: box-shadow .3s;

      &:hover {
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
      }

      &:hover label {
        color: $primary-color;
      }
      &:hover p {
        color: #555;
      }
      &:hover h3 {
        color: $primary-color;
      }
      &:hover h3:after{
        width: 25px;
      }
      input[type='radio'] + label {
        font-size: 2.6em;
        display: block;
        cursor: pointer;
        transition: color .3s;
        color: $font-color;
        &:before, &:after {
          position: static;
        }
      }
      input[type='radio']:checked + label{
        border-style: $primary-color;
        border: solid 3px;
       /* border-top-left-radius: 40px;
        border-top-right-radius: 40px;*/
      }

      h3 {
        color: darken($font-color, 20%);
        display: inline-block;
        font-size: 24px;
        font-weight: 100;
        transition: color .3s;
        &:after {
          content: '';
          position: relative;
          left: 50%;
          top: 40px;
          transform: translateX(-50%);
          display: block;
          width: 40px;
          height: 1.4px;
          background: darken($font-color, 20%);
          transition: width .3s;
        }
      }
      p {
        color: $font-color;
        text-align: left;
        text-indent: 1em;
        font-size: 16px;
        line-height: 26px;
        transition: color .3s;
      }
    }
  }
}
