.mat-card{
  background-color: whitesmoke;
  opacity: 88%;
}

.mat-card-title {
  margin-top: 1rem;
  font-size: 2rem;
}

.mat-card-subtitle{
  color: darkslategray;
}

.fixedLowRight{
  right: 10px;
    bottom: 10px;
    position: fixed;
}

.my-fab-button {
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 50px;
}

.mat-icon{
  transform: scale(4);
  align-self: center;
}

mat-button{
  color: lightgreen;
  border: solid;
}

p{
  font-size: 1.6rem;
  color: darkslategrey;
  align-content: left;
}

.card-qr{
  align-content: center;
  padding: 3px;
}

.mainSection{
  background-image: url(/assets/logo5.png);
  background-repeat: no-repeat;
  min-height: 65rem;
  padding: 10px;
}

.container6{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.container6 .mat-card-title{
  color: grey;
  font-size: 1em;
}
