<ngb-alert
  *ngFor="let alert of alerts"
  [type]="alert.type"
  (close)="close(alert)"
  >{{ alert.message }}</ngb-alert
>
<body background="/assets/logo5.png">

<section  *ngIf="!playClicked" class="mainSection">
  <mat-grid-list cols="3" rowHeight="30em">
    <div class="formOne">
      <mat-radio-group
        [(ngModel)]="tipologiaGruppo"
        aria-label="Select an option"
      >
        <form>
          <mat-grid-tile>
            <mat-card class="card-qr" >
                <mat-card-header>
                  <mat-card-title><h2>Individuale</h2></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <img class="img-qr"  src="/assets/user.png">
                </mat-card-content>
                <mat-card-actions>
                  <mat-radio-button  mat-button value="individuale"></mat-radio-button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>

          <mat-grid-tile>
              <mat-card class="card-qr" >
                  <mat-card-header>
                    <mat-card-title><h2>Gruppo (2-5 persone)</h2></mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <img class="img-qr"  src="/assets/group.png">
                  </mat-card-content>
                  <mat-card-actions>
                    <mat-radio-button  mat-button value="gruppo"></mat-radio-button>
                  </mat-card-actions>
                </mat-card>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-card class="card-qr" >
                <mat-card-header>
                  <mat-card-title><h2>Gruppo (15-25 persone)</h2></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <img class="img-qr"  src="/assets/classe.png">
                </mat-card-content>
                <mat-card-actions>
                  <mat-radio-button  mat-button value="classe"></mat-radio-button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        </form>
      </mat-radio-group>
    </div>
  </mat-grid-list>

  <div class="formTwo">
    <mat-form-field
      appearance="fill"
      *ngIf="tipologiaGruppo == 'classe'"
      ngDefaultControl
      name="nPartecipanti"
    >
      <mat-label>Numero di studenti</mat-label>
      <mat-select
        [(ngModel)]="nPartecipanti"
        (ngModelChange)="nPartecipantiChanged()"
      >
        <mat-option *ngFor="let dimensione of dimensioni" [value]="dimensione">
          {{ dimensione }} studenti
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field
    appearance="fill"
    *ngIf="tipologiaGruppo == 'classe'"
    ngDefaultControl
    name="nPartecipanti"
  >
    <mat-label>Max partecipanti</mat-label>
    <mat-select [(ngModel)]="nDimensionePreferita" (ngModelChange)="calcolaPartecipanti()">
      <mat-option *ngFor="let dimensione of dimensioniPreferite" [value]="dimensione">
        gruppo da {{ dimensione }} studenti
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  </div>

  <section *ngIf="nPartecipanti != -1 && tipologiaGruppo=='classe'" >
    <p>Partecipanti : {{ nPartecipantiAggiunti }} / {{ nPartecipanti }}</p>

    <p *ngIf="(nPartecipanti-nPartecipantiAggiunti>=2)">
      <button mat-button (click) = "aggiungiNuovaSquadra()">Aggiungi squadra</button>
    </p>

      <mat-grid-list cols="4"  >
        <mat-grid-tile *ngFor="let squadra of squadre">
          <mat-card>
              <mat-card-title>
                {{ squadra.name }}
                <!-- {{squadra.id}} -->
              </mat-card-title>
            <button *ngIf="this.squadre.length>this.nSquadre" mat-button style=" padding-right: 0px;" (click)="eliminaSquadra(squadra.id)"><span class="material-icons" style="float: right;">clear</span></button>

            <mat-card-content>
              <p >Giocatori:</p>
              <ul>
                <li *ngFor="let player of squadra.players">
                  {{ player }}
                </li>
              </ul>
            </mat-card-content>

            <button *ngIf="this.nPartecipantiAggiunti<this.nPartecipanti"
              mat-button
              color="primary"
              (click)="aggiungiPlayer(squadra.id)"
            >
              Add
            </button>
            <button *ngIf="squadra.players.length>2"
              mat-button
              color="primary"
              (click)="rimuoviPlayer(squadra.id)"
            >
              Remove
            </button>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
  </section>

  <!-- personeSquadra = {{ personeSquadra }} -->
  <!-- num squadre = {{ this.nSquadre }}
  numer partecipanti {{this.nPartecipanti}} -->
  <!-- siamo tutti in squadra ? {{ personeSquadra * this.nSquadre == this.nPartecipanti }} -->

  <div class="formTwo">
    <mat-radio-group
      [(ngModel)]="fasciaEta"
      aria-label="Select an option"
      (click)="traccia = -1"
    >
      <form>
        <mat-radio-button value="fasciaUno">
          <mat-card> 7 - 10 anni </mat-card>
        </mat-radio-button>
        <mat-radio-button value="fasciaDue">
          <mat-card> 11 - 14 anni </mat-card>
        </mat-radio-button>
        <mat-radio-button value="fasciaTre">
          <mat-card> 15 - 18 anni </mat-card>
        </mat-radio-button>
      </form>
    </mat-radio-group>
  </div>

  <div class="formThree" *ngIf="fasciaEta != ''">
    <mat-radio-group [(ngModel)]="traccia" aria-label="Select an option">
      <form>
        <ng-container *ngFor="let storia of storie">
          <mat-radio-button
            [value]="storia.id"
            *ngIf="storia.fasciaEta == fasciaEta"
          >
            <mat-card>
              {{ storia.nome }}
            </mat-card>
          </mat-radio-button>
        </ng-container>
      </form>
    </mat-radio-group>
  </div>

  <hr />

  <mat-card class="col col-6">
    <mat-card-header> Riepilogo </mat-card-header>
    <mat-card-content>
      <h2>Gruppo : {{ tipologiaGruppo }}</h2>

      <h2>Fascia di età : {{ fasciaEta }}</h2>
      <br />
      <span *ngIf="traccia != -1">
        <h2>traccia: {{ traccia }}</h2>
        <br />

        <qrcode
          *ngIf="
            tipologiaGruppo == 'individuale' || tipologiaGruppo == 'gruppo'
          "
          [qrdata]="
            'http://localhost:4200/visualizza/' +
            tipologiaGruppo +
            '/' +
            fasciaEta
          "
          [width]="256"
          [errorCorrectionLevel]="'M'"
  ></qrcode>
  <button mat-raised-button color="info" (click)="iniziaPartita(this.traccia)">Inizia Parita</button>

      </span>
    </mat-card-content>
  </mat-card>

  <div class="fixedLowRight" (click)="playClick()">
    <button mat-fab color="warn" class="my-fab-button">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <p>
      <!-- <button type="button" class="btn btn-primary" (click)="reset()">Reset</button> -->
    </p>
  </div>
</section>

<section *ngIf="playClicked">
 <div *ngIf="tipologiaGruppo == 'classe'">
    <h3> Ecco i vostri QR Code!</h3>
    Squadra 1
    <qrcode
      [qrdata]="'http://localhost:4200/lobby/786'"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
    Squadra 2
    <qrcode
      [qrdata]="'http://localhost:4200/lobby/786'"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
    Squadra 3
    <qrcode
      [qrdata]="'http://localhost:4200/lobby/786'"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
    Squadra 4
    <qrcode
      [qrdata]="'http://localhost:4200/lobby/786'"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
  </div>
  <div *ngIf="tipologiaGruppo == 'individuale'">
   <h3>Ecco il tuo QR code!</h3>
   <qrcode
   [qrdata]="'http://localhost:4200/lobby/786'"
   [width]="256"
   [errorCorrectionLevel]="'M'"
 ></qrcode>
 <button mat-raised-button color="info" (click)="iniziaPartita(this.traccia)">Inizia Parita</button>

 </div>
 <div *ngIf="tipologiaGruppo =='gruppo'">
   <h3>Ecco il vostro QR code!</h3>
   <qrcode
   [qrdata]="'http://localhost:4200/lobby/786'"
   [width]="256"
   [errorCorrectionLevel]="'M'"
 ></qrcode>
 <button mat-raised-button color="info" (click)="iniziaPartita(this.traccia)">Inizia Parita</button>


 </div>
</section>
</body>
