.formOne , .formTwo, .formThree {
  margin-top: 3em;
  margin-left: 3em;
}

.mat-card{
  margin: auto;
  background-color: whitesmoke;
  opacity: 88%;
}

.formOne .mat-card {
  width: 15em;
  height: 18em;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin:auto;
}

.formOne .mat-card .mat-icon {
  transform: scale(5);
  display: block;
  margin:auto;
}

.fixedLowRight{
  right: 10px;
    bottom: 10px;
    position: fixed;

}
h2 {
  text-align: center;
}

.my-fab-button {
  width: 100px;
  height: 100px;
  float: right;
  margin-right: 50px;
}

button .mat-icon {
  transform: scale(5);
  display: block;
  margin:auto;
}

.mat-card-title {
  margin-top: 1rem;
}

.cstmCard {
  padding-right: 0px;
}

body{
  background-repeat: no-repeat;
  min-height: 65em;

}
