$font-color: #5c5f66;
$primary-color: #3b3a99;
$background: rgba(212, 200, 200, 0.685);

.fixedLowRight {
  right: 1rem;
  bottom: 1rem;
  position: fixed;
}

.card-qr {
  align-content: center;
  padding: 3px;
}

.mainSection {
  background-image: url(/assets/logo5.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0.5rem;
  text-align: center;
  word-wrap: break-word;
  font-family: "Montserrat", sans-serif !important;
}

#tipoS {
  font-family: "Montserrat", sans-serif;
  .tipoStoria {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .card {
      display: flex;
      background-color: #ffffff93;
      margin: 2vw;
      float: left;
      flex-flow: row wrap;
      justify-content: space-around;
      list-style: none;
      cursor: pointer;

      label {
        padding: 1.5em;
        margin: 0 !important;
        .text {
          justify-content: center;
        }
      }
      input[type="radio"] {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
      }

      p {
        font-weight: 200;
        color: $primary-color;
      }

      i {
        margin: 2rem;
      }
      &:hover {
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
        background-color: #14144dc7;
      }
      &:hover label {
        color: $primary-color;
      }
      &:hover p {
        color: white;
      }
      &:hover h3 {
        color: white;
      }
      &:hover h5 {
        color: $primary-color;
      }
      &:hover i {
        color: white;
      }
      &:hover h3:after {
        width: 2rem;
      }

      input[type="radio"] + label {
        display: block;
        cursor: pointer;
        transition: color 0.3s;
        min-height: 14em;
        min-width: 11em;
        color: $font-color;
        &:before,
        &:after {
          position: static;
        }
      }

      input[type="radio"]:checked + label {
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
        background-color: #14144dc7;
        min-height: 15em;
        min-width: 12em;
        border-radius: 5px;
        i {
          color: white;
        }
        p {
          color: white;
          font-weight: bold;
          letter-spacing: 0.1em;
        }
      }

      h3 {
        display: inline-block;
        font-weight: 100;
        transition: color 0.3s;
        &:after {
          content: "";
          position: relative;
          color: $primary-color;
          left: 50%;
          display: block;
          transition: width 0.3s;
        }
      }
      p {
        color: $font-color;
        text-align: left;
        line-height: 26px;
        transition: color 0.3s;
        &:after {
          content: "";
          position: relative;
          color: $primary-color;
          left: 50%;
          top: 40px;
          display: block;
          width: 40px;
          height: 1.4px;
          transition: width 0.3s;
        }
      }
    }
  }
}
// container selezione numero studenti
.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 30px;

  button {
    background-color: $primary-color;
    h3 {
      color: $primary-color;
    }
  }

  mat-form-field {
    width: max-content;
    border-radius: 4px;
  }
  mat-label {
    padding: 5px;
    color: $font-color;
  }
  mat-option {
    color: $primary-color;
  }
}

/* fine sec */
// sezione squadre
#sec2 {
  .partecipanti {
    position: relative;
    left: 30%;
    width: 40%;
    border-radius: 4px;
    min-height: 4em;
    margin-bottom: 0.5em;
    background-color: $background;
    p {
      padding-top: 1em;
    }
  }
  .container3 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;

    .button-container {
      display: flex;
      float: right;
      margin: 5px;
      justify-content: center;
      align-content: center;
      align-items: stretch;
    }
    .deleteSq {
      align-content: center;
      margin: 0.3em;
    }
    .button-add-container {
      display: flex;
      margin: 5px;
      justify-content: center;
      float: left;
    }
    .button-rem-container {
      display: flex;
      margin: 5px;
      justify-content: center;
      float: right;
    }

    p {
      color: $font-color;
      text-indent: 1em;
      transition: color 0.3s;
    }
    .nomeS-container {
      display: flex;
      float: left;
    }
    #nomeSquadra {
      text-transform: capitalize;
      color: white;
      margin-top: 0.5em;
    }

    .card {
      display: inline-block;
      width: 23%;
      margin: 0.5em;
      min-width: max-content;
      min-height: max-content;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    }

    .card .heading {
      justify-content: space-between;
      height: 3rem;
      background-color: #2a34bbe5;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .card .content {
      padding: 1.3vw;
      justify-content: center;
    }
    ul {
      padding: 0 !important;
    }
    li {
      list-style: none;
    }
  }
} /* fine sec 2 */
/* CONTAINER 4 blocco selezione età*/
#sec3 {
  .container4 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    input[type="radio"] {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
    }

    .card {
      background-color: #ffffff93;
      margin: 2vw;
      display: flex;
      float: left;
      flex-flow: row wrap;
      justify-content: space-around;
      list-style: none;
      cursor: pointer;
      border-radius: 50%;

      label {
        padding: 1em;
        margin: 0 !important;
        border-radius: 50%;
        align-content: center;
        align-items: center;
        text-align: center;
      }
      input[type="radio"] {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
      }

      &:hover {
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
        background-color: #14144dc7;
      }
      &:hover label {
        color: $primary-color;
      }
      &:hover p {
        color: white;
      }

      input[type="radio"] + label {
        display: block;
        cursor: pointer;
        transition: color 0.3s;
        color: $font-color;
        padding-top: 3.6em;
        min-height: 8em;
        min-width: 8em;
        &:before,
        &:after {
          position: static;
        }
      }

      input[type="radio"]:checked + label {
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24),
          0 17px 50px 0 rgba(0, 0, 0, 0.19);
        background-color: #14144dc7;
        padding-top: 4em;
        min-height: 9em;
        min-width: 9em;
        p {
          color: white;
          font-weight: bold;
          letter-spacing: 0.1em;
        }
      }
    }
  }

  .container5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    input[type="radio"] {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
    }
    .card {
      background-color: #ffffff93;
      margin: 10px;
      display: flex;
      flex-flow: row wrap;
      list-style: none;

      i {
        margin: 2rem;
      }
      &:hover {
        box-shadow: 0 rgba(0, 0, 0, 0.24), 0 rgba(0, 0, 0, 0.19);
      }

      &:hover label {
        color: $primary-color;
      }
      &:hover p {
        color: $primary-color;
      }
      &:hover i {
        color: $primary-color;
      }

      input[type="radio"] + label {
        display: block;
        cursor: pointer;
        transition: color 0.3s;
        color: $font-color;
        padding: 1.5em 2em;
        min-width: 10rem;
        min-height: 8rem;
        margin: 0 !important;
        &:before,
        &:after {
          position: static;
        }
      }
      input[type="radio"]:checked + label {
        border-style: $primary-color;
        color: $primary-color;
        border: solid 3px;
        border-radius: 5px;
        padding: 1.5em 2em;
        min-width: 12rem;
        min-height: 10rem;
        margin: 0 !important;

        p {
          color: $primary-color;
          font-weight: bold;
          letter-spacing: 0.1em;
        }
        i {
          color: $primary-color;
        }
      }
      p {
        text-transform: uppercase;
        font-weight: bold;
        color: $font-color;
        text-align: left;
        text-indent: 1em;
        line-height: 26px;
        transition: color 0.3s;
      }
    }
  }
}
.container6 {
  font-family: "Montserrat", sans-serif !important;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  margin-top: 5em;
  margin-bottom: 5em;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 60%;
  justify-content: center;
  box-shadow: 1px 0px 2px 1px rgba(16, 18, 44, 0.336),
    0px 0px 11px 7px rgba(13, 10, 34, 0.315);
  background-color: $background;
  border-radius: 5px;
  .container-riepilogo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .title {
    text-transform: capitalize;
    color: $font-color;
    font-weight: bold;
    margin: 0.5em;
  }
  .title-container{
    width: 40%;
    float: left;
  }
  .qrcode-container{
    width: 60%;
    float: right;
  }
}

@media (min-width: 991px) {
  #icon-tipos {
    transform: scale(5);
  }
  .my-fab-button {
    width: 100px;
    height: 100px;
    float: right;
    margin-right: 3em;
  }
} /* for desktops */

@media (min-width: 768px) and (max-width: 991px) {
  #icon-tipos {
    transform: scale(4);
  }
  .my-fab-button {
    width: 80px;
    height: 80px;
    float: right;
    margin-right: 3em;
  }
} /* for laptops */

@media (max-width: 768px) {
  #icon-tipos {
    transform: scale(2.5);
  }
  .my-fab-button {
    width: 60px;
    height: 60px;
    float: right;
    margin-right: 3em;
  }
} /* for smaller tablets */

@media (max-width: 500px) {
  #icon-tipos {
    transform: scale(2);
  }
  .my-fab-button {
    width: 60px;
    height: 60px;
    float: right;
    margin-right: 3em;
  }
} /* for cellphones */
