<ngb-alert
  *ngFor="let alert of alerts"
  [type]="alert.type"
  (close)="close(alert)"
  >{{ alert.message }}
</ngb-alert>

<section *ngIf="!playClicked" class="mainSection" id="sec">
  <section id="tipoS">
    <h2>Seleziona la storia che preferisci e inizia a giocare</h2>
    <div class="tipoStoria">
      <div class="card">
        <input type="radio" name="tipologiaGruppo" id="Individuale" value="individuale" [(ngModel)]="tipologiaGruppo">
        <label class="fa fa-code"  for="Individuale">
            <mat-icon class="icon-tipoS" aria-hidden="false" aria-label="person icon">person</mat-icon> <br>
        <h3>Individuale</h3>
        </label>
      </div>

      <div class="card">
        <input type="radio" name="tipologiaGruppo" id="Gruppo" value="gruppo" [(ngModel)]="tipologiaGruppo" (click)="popolaDimensioni('gruppo')">
        <label class="fa fa-code"  for="Gruppo">
            <mat-icon class="icon-tipoS" aria-hidden="false" aria-label="group icon">group</mat-icon> <br>
        <h3>Gruppo </h3><p>(2-5 persone)</p>
        </label>
      </div>

      <div class="card">
        <input type="radio" name="tipologiaGruppo" id="Classe" value="classe" [(ngModel)]="tipologiaGruppo" (click)="popolaDimensioni('classe')">
        <label class="fa fa-code"  for="Classe">
            <mat-icon class="icon-tipoS" aria-hidden="false" aria-label="person icon">groups</mat-icon> <br>
        <h3>Classe</h3><p>(15-25 persone)</p>
        </label>
      </div>
    </div>
  </section>
  <div class="container2">
    <mat-form-field
      appearance="fill"
      *ngIf="tipologiaGruppo == 'classe' || tipologiaGruppo=='gruppo'"
      ngDefaultControl
      name="nPartecipanti"
    >
      <mat-label>Numero di studenti</mat-label>
      <mat-select
        [(ngModel)]="nPartecipanti"
        (ngModelChange)="nPartecipantiChanged()"
      >
        <mat-option *ngFor="let dimensione of dimensioni" [value]="dimensione">
          {{ dimensione }} studenti
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <section id="sec2" *ngIf="nPartecipanti != -1 && tipologiaGruppo=='classe'" >
    <p>Partecipanti : {{ nPartecipantiAggiunti }} / {{ nPartecipanti }}</p>

      <button
      *ngIf="(nPartecipanti-nPartecipantiAggiunti>=2)" (click) = "aggiungiNuovaSquadra()"
        mat-raised-button color="basic" >
        <p>+ Aggiungi squadra</p>
      </button>

      <div class="container3"  >
        <div class="card" *ngFor="let squadra of squadre">
          <div class="heading" >
            <div class="nomeS-container" >
            <h3 id="nomeSquadra">{{ squadra.name }}</h3>
          </div>
          <div class="button-container">
            <button  mat-mini-fab
            color="warn"
            *ngIf="this.squadre.length>this.nSquadre"
              (click)="eliminaSquadra(squadra.id)">
              <i class="material-icons">clear</i>
            </button>
          </div>
        </div>
        <div class="content">
          <h4>Giocatori: </h4>
          <ul>
            <li *ngFor="let player of squadra.players">
             <p>{{ player }}</p>
             </li>
            </ul>
        </div>
        <div class="button-add-container">
          <button *ngIf="this.nPartecipantiAggiunti<this.nPartecipanti || squadra.players.length<5"
              mat-mini-fab
              color="primary"
              (click)="aggiungiPlayer(squadra.id)">
             <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="button-rem-container">
          <button *ngIf="squadra.players.length>2"
            mat-mini-fab
            color="warn"
            (click)="rimuoviPlayer(squadra.id)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- fine sec2 -->

  <section id="sec3">
    <div class="container4" aria-label="Select an option" (click)="traccia = -1">
        <div class="card">
          <input
            type="radio"
            name="fasciaEta"
            id="7-10"
            value="fasciaUno"
            [(ngModel)]="fasciaEta"
          />
          <label for="7-10">
            <h5>7 - 10 anni</h5>
          </label>
        </div>

        <div class="card">
          <input
            type="radio"
            name="fasciaEta"
            id="11-14"
            value="fasciaDue"
            [(ngModel)]="fasciaEta"
          />
          <label for="11-14">
            <h5>11 - 14 anni</h5>
          </label>
        </div>

        <div class="card">
          <input
            type="radio"
            name="fasciaEta"
            id="15-18"
            value="fasciaTre"
            [(ngModel)]="fasciaEta"
          />
          <label for="15-18">
            <h5>15 - 18 anni</h5>
          </label>
        </div>
    </div>

    <div class="container5" *ngIf="fasciaEta != ''">
      <form aria-label="Select an option" *ngFor="let storia of storie">
        <div class="card" *ngIf="storia.fasciaEta == fasciaEta">
          <input
            [id]="storia.id"
            name="traccia"
            type="radio"
            [value]="storia.id"
            [(ngModel)]="traccia"
          />
          <label [for]="storia.id">
            <mat-icon>history_edu</mat-icon>
            <h4>{{ storia.title }}</h4>
            <img [src]="storia.urlBackground" />
          </label>
        </div>
      </form>
    </div>
  </section>

  <hr />
  <div class="container6">
    <mat-card>
      <mat-card-title> <h3>Riepilogo</h3> </mat-card-title>
      <mat-card-content>
        <h4>Gruppo : {{ tipologiaGruppo }}</h4>
        <h4>Fascia di età : {{ fasciaEta }}</h4>
        <br />
        <span *ngIf="traccia != -1">
          <h4>Traccia: {{ traccia }}</h4>
          <br />
          <qrcode
            *ngIf="
              tipologiaGruppo == 'individuale' || tipologiaGruppo == 'gruppo'
            "
            [qrdata]="
              'http://localhost:4200/player/' +
              tipologiaGruppo +
              '/' +
              fasciaEta +
              '/' +
              traccia +
              '/autoplay'
            "
            [width]="256"
            [errorCorrectionLevel]="'M'"
          ></qrcode>
          <button *ngIf="tipologiaGruppo=='individuale'"
            mat-raised-button
            color="success"
            (click)="iniziaPartita(this.traccia)"
          >
            Inizia Partita
          </button>
        </span>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="tipologiaGruppo!='individuale' && tipologiaGruppo!=''" class="fixedLowRight" (click)="playClick()">
    <button mat-fab color="warn" class="my-fab-button">
      <mat-icon class="icon-tipoS">play_arrow</mat-icon>
    </button>
  </div>
</section>
<!-- fine MainSection -->

<section *ngIf="playClicked">
  <div *ngIf="tipologiaGruppo == 'individuale'">
    <h3>Ecco il tuo QR code!</h3>
    <qrcode
    [qrdata]="
    'http://localhost:4200/player/' +
    tipologiaGruppo +
    '/' +
    fasciaEta +
    '/' +
    traccia +
    '/autoplay'"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
    <button
      mat-raised-button
      color="info"
      (click)="iniziaPartita(this.traccia)"
    >
      Inizia Parita
    </button>
  </div>
  <!-- <div *ngIf="tipologiaGruppo == 'gruppo'">
    <h3>Ecco il vostro QR code!</h3>
    <qrcode
      [qrdata]="'http://localhost:4200/lobby/786'"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
    <button
      mat-raised-button
      color="info"
      (click)="iniziaPartita(this.traccia)"
    >
      Inizia Parita
    </button>
  </div> -->

  <div *ngIf="tipologiaGruppo == 'classe' || tipologiaGruppo=='gruppo'">
    <h3>Ecco i vostri QR Code!</h3>
    <mat-card *ngFor="let s of squadre" class="example-card">
      <mat-card-header>
        <mat-card-title>{{ s.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <qrcode
          [qrdata]="
            'http://localhost:4200/player/' +
            tipologiaGruppo +
            '/' +
            fasciaEta +
            '/' +
            traccia +
            '/autoplay/' +
            s.idPartita
          "
          [width]="256"
          [errorCorrectionLevel]="'M'"
        ></qrcode>
      </mat-card-content>
    </mat-card>
  </div>
</section>
<!--</div>-->
