<ngb-alert
  *ngFor="let alert of alerts"
  [type]="alert.type"
  (close)="close(alert)"
  >{{ alert.message }}</ngb-alert
>
<!-- <div class="containerMain"> -->

<section  *ngIf="!playClicked" class="mainSection">
  <div class="container1">
      <mat-radio-group
        [(ngModel)]="tipologiaGruppo"
        aria-label="Select an option"
      >
        <form>
          <mat-radio-button value="individuale">
              <mat-card>
                <mat-icon aria-hidden="false" aria-label="person icon">person</mat-icon>
              </mat-card>
                <h3>Individuale</h3>
            </mat-radio-button>

            <mat-radio-button value="gruppo">
              <mat-card>
                <mat-icon aria-hidden="false" aria-label="group icon">group</mat-icon>
              </mat-card>
              <h3>Gruppo (2-5 persone)</h3>
            </mat-radio-button>

          <mat-radio-button value="classe" >
              <mat-card>
                <mat-icon aria-hidden="false" aria-label="person icon">groups</mat-icon>
              </mat-card>
              <h3>Classe (15-25 persone)</h3>
            </mat-radio-button>
        </form>
      </mat-radio-group>
   </div>


  <div class="container2">
    <mat-form-field
      appearance="fill"
      *ngIf="tipologiaGruppo == 'classe'"
      ngDefaultControl
      name="nPartecipanti"
    >
      <mat-label>Numero di studenti</mat-label>
      <mat-select
        [(ngModel)]="nPartecipanti"
        (ngModelChange)="nPartecipantiChanged()"
      >
        <mat-option *ngFor="let dimensione of dimensioni" [value]="dimensione">
          {{ dimensione }} studenti
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field
    appearance="fill"
    *ngIf="tipologiaGruppo == 'classe'"
    ngDefaultControl
    name="nPartecipanti"
  >
    <mat-label>Max partecipanti</mat-label>
    <mat-select [(ngModel)]="nDimensionePreferita" (ngModelChange)="calcolaPartecipanti()">
      <mat-option *ngFor="let dimensione of dimensioniPreferite" [value]="dimensione">
        gruppo da {{ dimensione }} studenti
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  </div>

  <section *ngIf="nPartecipanti != -1 && tipologiaGruppo=='classe'" >
    <p>Partecipanti : {{ nPartecipantiAggiunti }} / {{ nPartecipanti }}</p>

    <p *ngIf="(nPartecipanti-nPartecipantiAggiunti>=2)">
      <button mat-button (click) = "aggiungiNuovaSquadra()">Aggiungi squadra</button>
    </p>

      <div class="container3"  >
          <mat-card *ngFor="let squadra of squadre">
              <mat-card-title>
                {{ squadra.name }}
                <!-- {{squadra.id}} -->
                <button *ngIf="this.squadre.length>this.nSquadre" mat-button style=" padding-right: 0px;"
                  (click)="eliminaSquadra(squadra.id)"><span class="material-icons" style="float: right;">clear</span>
                </button>
              </mat-card-title>

            <mat-card-content>
              <p >Giocatori:</p>
              <ul>
                <li *ngFor="let player of squadra.players">
                  {{ player }}
                </li>
              </ul>
            </mat-card-content>

            <button *ngIf="this.nPartecipantiAggiunti<this.nPartecipanti"
              mat-button
              color="primary"
              (click)="aggiungiPlayer(squadra.id)"
            >
              Add
            </button>
            <button *ngIf="squadra.players.length>2"
              mat-button
              color="primary"
              (click)="rimuoviPlayer(squadra.id)"
            >
              Remove
            </button>
          </mat-card>
      </div>
  </section>

  <!-- personeSquadra = {{ personeSquadra }} -->
  <!-- num squadre = {{ this.nSquadre }}
  numer partecipanti {{this.nPartecipanti}} -->
  <!-- siamo tutti in squadra ? {{ personeSquadra * this.nSquadre == this.nPartecipanti }} -->

  <div class="container4">
    <mat-radio-group
      [(ngModel)]="fasciaEta"
      aria-label="Select an option"
      (click)="traccia = -1"
    >
      <form>
        <mat-radio-button value="fasciaUno">
          <mat-card>
            <mat-card-subtitle>7 - 10 anni</mat-card-subtitle>
          </mat-card>
        </mat-radio-button>
        <mat-radio-button value="fasciaDue">
          <mat-card>
            <mat-card-subtitle>11 - 14 anni</mat-card-subtitle>
          </mat-card>
        </mat-radio-button>
        <mat-radio-button value="fasciaTre">
          <mat-card>
            <mat-card-subtitle>15 - 18 anni</mat-card-subtitle>
          </mat-card>
        </mat-radio-button>
      </form>
    </mat-radio-group>
  </div>

  <div class="container5" *ngIf="fasciaEta != ''">
    <mat-radio-group [(ngModel)]="traccia" aria-label="Select an option">
      <form>
        <ng-container *ngFor="let storia of storie">
          <mat-radio-button
            [value]="storia.id"
            *ngIf="storia.fasciaEta == fasciaEta"
          >
            <mat-card>
              {{ storia.title}}
            </mat-card>
          </mat-radio-button>
        </ng-container>
      </form>
    </mat-radio-group>
  </div>

  <hr />
<div class="container6">
  <mat-card>
    <mat-card-title> Riepilogo </mat-card-title>
    <mat-card-content>
      <h4>Gruppo : {{ tipologiaGruppo }}</h4>

      <h4>Fascia di età : {{ fasciaEta }}</h4>
      <br />
      <span *ngIf="traccia != -1">
        <h4>Traccia: {{ traccia }}</h4>
        <br />

        <qrcode
          *ngIf="
            tipologiaGruppo == 'individuale' || tipologiaGruppo == 'gruppo'
          "
          [qrdata]="
            'http://localhost:4200/player/'+
            tipologiaGruppo +
            '/' +
            fasciaEta +
            '/' + traccia + '/autoplay'
          "
          [width]="256"
          [errorCorrectionLevel]="'M'"
  ></qrcode>
  <button mat-raised-button color="success" (click)="iniziaPartita(this.traccia)">Inizia Partita</button>

      </span>
    </mat-card-content>
  </mat-card>
</div>

  <div class="fixedLowRight" (click)="playClick()">
    <button mat-fab color="warn" class="my-fab-button">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <p>
      <!-- <button type="button" class="btn btn-primary" (click)="reset()">Reset</button> -->
    </p>
  </div>
</section>

<section *ngIf="playClicked">
 <div *ngIf="tipologiaGruppo == 'classe'">
    <h3> Ecco i vostri QR Code!</h3>
    Squadra 1
    <qrcode
      [qrdata]="'http://localhost:4200/lobby/786'"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
    Squadra 2
    <qrcode
      [qrdata]="'http://localhost:4200/lobby/786'"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
    Squadra 3
    <qrcode
      [qrdata]="'http://localhost:4200/lobby/786'"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
    Squadra 4
    <qrcode
      [qrdata]="'http://localhost:4200/lobby/786'"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
  </div>
  <div *ngIf="tipologiaGruppo == 'individuale'">
   <h3>Ecco il tuo QR code!</h3>
   <qrcode
   [qrdata]="'http://localhost:4200/lobby/786'"
   [width]="256"
   [errorCorrectionLevel]="'M'"
 ></qrcode>
 <button mat-raised-button color="info" (click)="iniziaPartita(this.traccia)">Inizia Parita</button>

 </div>
 <div *ngIf="tipologiaGruppo =='gruppo'">
   <h3>Ecco il vostro QR code!</h3>
   <qrcode
   [qrdata]="'http://localhost:4200/lobby/786'"
   [width]="256"
   [errorCorrectionLevel]="'M'"
 ></qrcode>
 <button mat-raised-button color="info" (click)="iniziaPartita(this.traccia)">Inizia Parita</button>


 </div>
</section>
<!--</div>-->



